@tailwind base;
@tailwind components;
@tailwind utilities;

#boutonstodo{
    position: relative;
    bottom: 20px;
    
}

#boutonsinprogress{}

#boutonsdone{}

#Brief{
    position: relative;
    bottom:10px;
}

#carre{
    border-left: 3px solid red;
    
}